In [20]:
# feature scaling is the technique to standardize the range of independent features 
#  present in the data  in a  fixed range

In [21]:
# its types
#1. standardization
#2. normalization   / z-score normalization

In [22]:
# isme apn kya krte h suppose we have column age uske transform krke ek formula use krke likhenge
# formula = (age - mean) / std
# or formula = (Xi - x.mean)/ sigma

In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
df=pd.read_csv('Social_Network_Ads.csv')

In [25]:
print(type(df))
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
(400, 5)

In [26]:
df=df.iloc[:, 2:]  # Selecting only the relevant columns for feature scaling
df.sample(5)

     Age  EstimatedSalary  Purchased
70    25            80000          0
239   53           143000          1
185   31            66000          0
74    32            18000          0
266   40            75000          0

In [27]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [ ]:
from sklearn.model_selection import